$dayCellColour: lightblue;
$dayCellBorder: red;

.grid_wrapper {
	display: flex;
	height: 300px;
	overflow: auto;
}

.table_container {
	height: 100%;
	overflow: auto;
}

// .table_wrap {
// 	.table {
// 		border-collapse: collapse;
// 	}

// 	.header_row {
// 		position: sticky;
// 		top: 0;
// 		left: 0;
// 		z-index: 2;
// 		background-color: lightgrey;
// 	}

// 	.header_cell {
// 		width: 50px;
// 	}
// }

.header_row {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: lightgrey;
}
.header_cell {
	width: 50px;
}

.grid_row {
	.day_title_cell {
		background-color: $dayCellColour;
		height: 20px;
		border-bottom: 1px solid $dayCellColour;

		border-left: 1px solid $dayCellBorder;
		border-right: 1px solid $dayCellBorder;
		border-top: 1px solid $dayCellBorder;
	}

	.day_blank_cell {
		background-color: $dayCellColour;
		height: 20px;
		border-bottom: 1px solid $dayCellColour;
		border-top: 1px solid $dayCellColour;

		border-left: 1px solid $dayCellBorder;
		border-right: 1px solid $dayCellBorder;
	}
}

.grid_row,
.day_blank_cell,
.day_title_cell,
.grid_cell {
	&.rowOpen {
		height: 120px;
	}

	&.rowClosed {
		height: 80px;
	}
}

.data_cell {
	overflow: visible;
	width: 50px;

	.session_card {
		overflow: visible;
		width: 100px;
		background-color: lightseagreen;

		position: absolute;
		z-index: 10;
		box-shadow: 5px 5px blue;

		&.cardOpen {
			height: 120px;
		}
		&.cardClosed {
			height: 80px;
		}
	}

	.session_contents {
		width: 100%;
		border: 1px solid black;
		height: 100%;
	}

	.grid_cell {
		background-color: coral;
		border: 1px solid black;
	}
}
