$dayCellColour: #fafafa;
$dayCellBorder: 1px solid #e8e8e8;
$cellWidth: 100%;
$sessionWidth: 12vw;
$rowHeight: 11vh;
$sessionHeightOPEN: 16vh;
$sessionHeightCLOSED: $rowHeight;

// .grid_wrapper {
// 	display: flex;
// 	height: 300px;
// 	overflow: auto;
// }

.grid_wrapper {
	background-color: white;
	// width: 100%;
	padding: 10px 10px 10px 0;
}

.table {
	width: 100%;
}

.table_container {
	height: 100%;
	overflow: auto;
}

.header_row {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $dayCellColour;
	border: $dayCellBorder;
}
.header_cell {
	// width: $cellWidth;
	border-right: $dayCellBorder;
	font-weight: 400;
}

.grid_row {
	.day_title_cell {
		background-color: $dayCellColour;
		height: 20px;
		// width: $cellWidth;
		border-bottom: 1px solid $dayCellColour;

		border-left: $dayCellBorder;
		border-right: $dayCellBorder;
		border-top: $dayCellBorder;
	}

	.day_blank_cell {
		background-color: $dayCellColour;
		height: 20px;
		// width: $cellWidth;

		border-bottom: 1px solid $dayCellColour;
		border-top: 1px solid $dayCellColour;

		border-left: $dayCellBorder;
		border-right: $dayCellBorder;
	}

	.isLast {
		border-bottom: $dayCellBorder;
	}

	&.rowOpen {
		height: $sessionHeightOPEN;
	}
	&.rowClosed {
		height: $rowHeight;
	}
}

.header_cell,
.day_title_cell,
.session_contents {
	overflow: hidden;
}


.day_blank_cell,
.day_title_cell,
.grid_cell {
	&.rowOpen {
		height: $sessionHeightOPEN;
	}

	&.rowClosed {
		height: 100%;
	}
}

.data_cell {
	overflow: visible;
	// width: $cellWidth;
	position: relative;
	height: 100%;

	&.isTop {
		border-top: $dayCellBorder;
	}
	&.isLast {
		border-bottom: $dayCellBorder;
	}

	.session_card {
		overflow: visible;
		// width: $sessionWidth;
		background-color: #f8f3c4;
		// border: $dayCellBorder;
		border-radius: 3px;

		position: absolute;
		top: 0;
		z-index: 10;
		// box-shadow: 0px 1px 1px darkgray;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
			0 3px 1px -2px rgba(0, 0, 0, 0.2);

		&.cardOpen {
			height: $sessionHeightOPEN;
		}
		&.cardClosed {
			height: $sessionHeightCLOSED;
		}
	}

	.session_contents {
		width: 100%;
		// border: 1px solid black;
		height: 100%;
	}

	.grid_cell {
		background-color: #f2f5ff;
		// border: 1px solid black;
		border-right: $dayCellBorder;
		height: 100%;
	}
}
